<?xml version="1.0"?>

<model>
  <name>Prsg2_base</name>
  <version>1.0</version>
  <sdf version="1.6">prsg2_base.sdf</sdf>

  <author>
    <name>Jay Salmonson</name>
  </author>

  <description>
    Prsg2 robot base. Robot is moved via Twist commands as a single unit with the libgazebo_ros_planar_move plugin.
  </description>
</model>
