<launch>
    
    <arg name="record_sensors" default="true" />

    <node pkg="rosbag" type="record" name="rosbag_record_sensors"
          args="record -o /tmp/prsg2-base-sensors /odom /cmd_vel"
	  if="$(arg record_sensors)" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find prsg2_gazebo)/worlds/prsg2_jointed_wheels.world"/>
    <!-- more default parameters can be changed here -->
  </include>

</launch>