<?xml version="1.0"?>

<model>
  <name>Prsg2_base_jointed_wheels</name>
  <version>1.0</version>
  <sdf version="1.6">prsg2_base_jointed_wheels.sdf</sdf>

  <author>
    <name>Jay Salmonson</name>
  </author>

  <description>
    Prsg2 robot base with each wheel on a separate joint that can be driven separately.
  </description>
</model>
